<%- include('header'); -%>

<div class="box" id="heading">
  <h1> <%= siteTitle %> </h1>
  <h2> <i><%= date %></i> </h2>
</div>

    <div class="box">
        <% for (var i = 0; i < itemsArray.length; i++) { %>
          <div class="item">
            <input type="checkbox">
          <p><%= itemsArray[i] %></p>
          </div>
        <% } %>

    <form class="item" action="/" method="post">
      <input type="text" name="todoitem" placeholder="new item" autocomplete="off">
      <button type="submit" name="button" value=<%= siteTitle %>>+</button>
    </form>
    </div>

<%- include('footer'); -%>
